@import "../../globals";

.Block {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  cursor: pointer;
  transition: transform 0.5s ease;
  .delete {
    color: $delete;
  }
}

.Block.selected {
  transform: scale(1.06);
}
