@import "../../globals";

.Select {
  position: relative;
  display: inline-block;
  font-weight: bolder;
  z-index: 50;
  cursor: pointer;
  & > i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .items {
    position: absolute;
    top: 90%;
    background-color: $sky;
    border: solid $primary-dark thin;
    border-radius: 25px;
    color: $cloud;
    position: absolute;
    max-height: 40vh;
    overflow: auto;
    overflow-x: hidden;
    &.left {
      right: 0;
    }
    &.center {
      left: -150px;
    }

    .item {
      cursor: pointer;
      width: 300px;
      padding: 10px 5px;
      &:hover {
        background: white;
        color: $onix;
      }
      &.search {
        text-align: left;
        background: white;
        color: $onix;
        border-bottom: solid $primary-dark;
        position: sticky;
        top: 0;
        i {
          float: right;
        }
      }
    }
  }
}
