.QuickReplyAnswer .chips-container{
    overflow-x: auto;
    width: fit-content;
    max-width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.QuickReplyAnswer .chip{
    border: solid var(--primary-dark) 1px;
    color: var(--primary-dark);
    background-color: var(--primary-light);
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    font-weight: bold;
    margin: 4px;
}