@import "../../globals";

.Modal {
  &.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto;
    text-align: center;
    padding-top: 100px;
  }
  .content {
    display: inline-block;
    text-align: left;
    z-index: 1100;
    min-width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding: 25px;
    animation: 0.5s enter ease;
    background-color: white;
    border-radius: 25px;
    i {
      color: $primary-dark;
      font-size: 15px;
    }
    h2 {
      text-align: center;
    }
  }
}
