@import "../../../globals";

html {
  height: 100vh;
  background-color: $onix;
}

.Login {
  width: 40%;
  height: 40%;
  margin-top: 5%;
  margin-left: 30%;
  text-align: center;
  & > div {
    background-color: $offwhite;
    padding: 20px;
    border: solid $primary;
    div {
      text-align: left;
      margin-left: 15%;
      width: 70%;
    }

    .error {
      color: $warning;
    }
  }
}
