@import "../../../globals";

.CarouselAnswer {
  .delete {
    cursor: pointer;
    color: $delete;
  }
  .carousel-container {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 50vw;
    overflow-x: auto;
    white-space: nowrap;
  }
  .carousel {
    white-space: pre-wrap;
    margin: 4px;
    width: 200px;
    min-height: 300px;
    display: inline-block;
    vertical-align: top;
  }
  .carousel img,
  .img-placeholder {
    width: 100%;
    height: 150px;
  }
  .carousel.carousel-placeholder {
    border: solid $primary-dark 1px;
    border-radius: 13px;
    font-size: 25px;
    color: $primary-dark;
    padding-top: 125px;
    cursor: pointer;
    text-align: center;
  }
}
