@import "../../../globals";

.Tracing {
  h1,
  small {
    display: inline-block;
  }
}

.tracing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input.search-input {
    margin-bottom: 20px;
}